@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@layer components {
  .sidebar-icon{
    @apply relative flex justify-center items-center w-8 
    h-8 mx-auto my-2 shadow-lg bg-black 
    text-gray-500 hover:bg-gray-300 hover:text-white
    rounded-md transition-all duration-300 ease-linear
  }

  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    rounded-md shadow-md bg-gray-700 text-xs font-bold
    transition-all duration-150 ease-linear scale-0 origin-left z-50
  }

}

body {
  background-color: black;
  
}

.custom-purple {
  background-color: rgba(97, 71, 255, 1);
}

